<div class="side-top">
  <div class="side-text">
    <a href="#">しゃけ</a>
  </div>
  <div class="side-text2">
    <a href="#">チャット作成</a>
 </div>
</div>

<div class="side-bottom">
  <div class="room">
    <div class="room-name">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>




